@import url('https://fonts.googleapis.com/css2?family=Borel&family=Cookie&family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Cookie&family=Eagle+Lake&family=Geom:ital,wght@0,300..900;1,300..900&display=swap');

/*DATA DE LAS FUENTES*/

/*
.borel-regular {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .cookie-regular {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
  }

  
.geom-<uniquifier> {
    font-family: "Geom", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  FONT DE ESTILO CELTA
  .eagle-lake-regular {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
  }
  */

/*HEADER*/

.header {
    width: 100%;
    height: 25vh;
    /*background: #b3e6ae;*/
    border-bottom: 1px solid #e5e5e5;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #b3e6ae;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;

    list-style-type: none;
}

.nav-left a {
    color: darkgreen;
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 25px;

    text-decoration: none;
}

.nav-left a:hover{
    color: white;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;

    list-style-type: none;
}

.nav-right a {
    color: darkgreen;
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 25px;

    text-decoration: none;
}

.nav-right a:hover{
    color: white;
}
.logo1 img {
    height: 300px;
}